@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Nunito:wght@300;400;600;700;800&display=swap');

body {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h2 {
	margin-block: 0;
}
